.product-card {
    flex: .25;
    /* flex: 1; */
    min-width: 13.75rem;
    box-shadow: 0 0 .5rem var(--dark-20);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: all .5s ease-in-out;

    position: relative;
    user-select: none;
}

.product-card:hover {
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .product-card {
        flex: .5;
    }
}

@media (max-width: 426px) {
    .product-card {
        flex: 1;
    }
}