.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.4rem auto;
}

.form-group label {
    color: #212529;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
 }

.form-group input {
    width: 50%;
    background-color: #eee;
    color: #212529;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border: 0;
    outline: none;
 }
