header {
    background-color: var(--blue);
    color: var(--light-100);
}


input,
.bi-search {
    color: var(--blue);
}


input::placeholder {
    color: #215BA8;
}


header nav ul a {
    color: var(--light-100);
    font-size: 1.6rem;
}

nav ul a:hover {
    color: var(--light-50);
    transition: all .2s ease-in-out;
}



.total-items-bag {
    display: inline-block;
    text-align: center;
    line-height: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--light-50);
    color: var(--blue);

    font-size: .8rem;
    font-weight: bold;

    position: absolute;
    top: .3rem;
    right: -.4rem;
}


#user-menu-settings {
    position: absolute;
    bottom: -4rem;
    right: 0;
    width: max-content;

    text-align: justify;
    background-color: var(--blue);
    box-shadow: 0 .3rem .4rem rgba(51, 52, 53, 0.5);
    z-index: 9999;
    transition: all .2s ease-in-out;
    display: none;
}

#user-menu-settings a li {
    padding: .2rem 1rem;
    transition: all .2s ease-in-out;
}

#user-menu-settings a li:hover {
    background-color: #fff;
    box-shadow: inset .4rem 0 rgba(51, 52, 53, 0.5);
    color: var(--blue);
}

.block {
    display: block !important;
    transition: all .5s ease-in-out;
}
